//about one
.about-section{
	.about-wrapper{
		background: $n100-clr;
		border-radius: 30px;
		max-width: 1730px;
		margin: 0 auto;
	}
	.about-thumb{
		background: rgb(255, 255, 255, 0.5);
		border-radius: 30px;
		padding: 40px 30px;
		.about-ele{
			position: absolute;
			right: 110px;	
			top: 130px;
		}
		@include breakpoint(max-md){
			padding: 16px 16px;
			.about-ele{
				right: 0;
				top: 0;
			}
		}
	}
}
.about-content{
	.about-information{
		background: $white;
		padding: 30px 40px;
		border-radius: 30px;
		margin-bottom: 40px;
		.about-info{
			.icon{
				width: 60px;
				min-width: 60px;
				height: 60px;
				border-radius: 50%;
			}
		}
		.line{
			width: 100%;
			height: 1px;
			background: $border-color;
		}
		@include breakpoint(max-lg){
			padding: 24px 24px;
			margin-bottom: 26px;
		}
	}
}

@keyframes updown {
	50% {
		transform: translateY(-15px);
	}
}
@keyframes rots {
	50% {
		transform: rotate(7deg);
	}
}
