//Adventure Section
.adventure-access-item{
    transition: all 0.5s;
    border-radius: 20px !important;
    .flat{
        width: 60px;
        height: 60px;
        min-width: 60px;
        background: $white;
        position: absolute;
        top: 30px;
        left: 30px;
        border-radius: 50%;
    }
}
//Adventure Section