//Pricing
.pricing-section2 {
	background: #efefef;
}
.pricing-items {
	border-radius: 20px;
	background: $white;
	padding: 40px 40px;
	.pricing-head {
		.price-box {
			width: 137px;
			height: 137px;
		}
		border-bottom: 1px solid #151b2a;
		padding-bottom: 18px;
	}
	.pricing-list {
		gap: 16px;
	}
	&.items1 {
		background: $n300-clr;
	}
	&.items2 {
		background: $n100-clr;
	}
	&.items3 {
		background: $n400-clr;
	}
}
@keyframes cir360 {
	0% {
		transform: rotate(360deg);
	}
}
.pricing-tabbing {
	border-radius: 100px;
	overflow: hidden;
	border: unset;
	.nav-item {
		border: unset;
		.nav-link {
			padding: 9px 28px;
			font-size: 19px;
			font-weight: 700;
			background: $n100-clr;
			border: unset;
			transition: all 0.4s;
			color: $black;
			font-family: "Space Grotesk";
			&.active {
				background: $p1-clr;
				color: $black;
				border-radius: 0;
			}
			@include breakpoint(max-xxl) {
				padding: 8px 24px;
			}
		}
	}
	@include breakpoint(max-sm) {
		margin: 0 auto;
		.nav-link {
			margin: 0 auto;
		}
	}
}
//Pricing
