//Testimonial
.testimonial-items {
	border-radius: 20px;
	background: #fff;
	padding: 40px;
	p {
		line-height: 30px;
	}
	&.style2 {
		box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
        margin-bottom: 30px;
		.ratting-area {
			border-top: 1px solid #ddd;
			padding-top: 30px;
			margin-top: 40px;
		}
		@include breakpoint(max-lg) {
			padding: 30px 24px;
		}
	}
}
.testimonial-section {
	position: relative;
	z-index: 1;
	.array-button {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		z-index: 9;
		.array-prev {
			margin-left: -75px;
		}
		.array-next {
			margin-right: -50px;
		}
	}
	&.section-style2 {
        margin-bottom: -40px;
		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			content: "";
			background: $white;
			height: 330px;
			z-index: -1;
		}
	}
	@include breakpoint(max-xxxl) {
		.array-button {
			margin-top: 20px;
			justify-content: center;
			top: initial;
			position: initial;
			.array-prev {
				margin-left: 00px;
				width: 40px;
				height: 40px;
				line-height: 40px;
				i {
					font-size: 17px;
				}
			}
			.array-next {
				margin-right: 0px;
				width: 40px;
				height: 40px;
				line-height: 40px;
				i {
					font-size: 17px;
				}
			}
		}
	}
}
//Testimonial
